{{!-- <!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="About">
   <h1 style="text-align: center;">About Us</h1>
   <p>We are a group of women students in the Ironhack Web Development course. For our proejct #2, we decided to create a
    makeup up app from scratch. </p>
    <p>It took a lot of hard work and commnuication, but we had a lot fun and liked what we created.</p>
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who runs this company</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team2.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Anja Doe</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Web Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
        <div class="w3-container">
          <h3>Dan Star</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div> --}}








<div class="about-section">
  <h1 style="text-align: center;">About Us</h1>
  <p>We are a group of women students in the Ironhack Web Development course. For our proejct #2, we decided to create a
    makeup up app from scratch. </p>
  <p>It took a lot of hard work and commnuication, but we had a lot fun and liked what we created.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Face_Emoji_large.png?v=1571606036" alt=""
        style="width:40%">
      <div class="container">
        <h3>Callie Doles</h3>
        <p class="title">Web Development Coder</p>
        <p>Hey, I'm Callie! I’m from Gainesville. I’m middle child of 7. My favorite color is blue.</p>
        <p>capgirltbbb@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
  <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Face_Emoji_large.png?v=1571606036" alt=""
        style="width:40%">
      <div class="container">
        <h3>Rebecca Sundel</h3>
        <p class="title">Web Development Coder</p>
        <p>Hi, I'm Rebecca! I am 22 years old. I am from Washington, D.C. I am new to web development, but I like it a
          lot so far!</p>
        <p>sundelrp@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Face_Emoji_large.png?v=1571606036" alt=""
        style="width:40%">
      <div class="container">
        <h3>Dria Thomas</h3>
        <p class="title">Web Development Coder</p>
        <p>Hello, I'm Dria! I'm from West Palm, Florida. I am into web development.</p>
        <p>driathomas96@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>