<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<h4>Callie</h4>

<a href="/views/about"> About Us</a>

<a href="/views/rankings"> Rankings</a>

<a href="/auth/signup"> Sign-Up</a>

<a href="/auth/login"> Login</a>