<a href="/about"> About Us</a>

<a href="/auth/signup"> Sign-Up</a>
<a href="/auth/login"> Login</a>

<a href="/rankings"> Rankings</a>
<a href="/user/profile">Profile Page</a>

<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<a href="/auth/login"> Login</a>

<a href="/rankings/list"> Fav List </a>


<a href="/rankings/edit/{{id}}">Edit</a>
<a href="/rankings/delete/{{id}}">Delete</a>

