<h2>Upload your photo</h2>
<form action="/collection/upload/" method="post" enctype="multipart/form-data">

    <input type="file" name="photo" />
    <input type="submit" value="Save" />

    {{!--
</form>
<h1>Image</h1>
<p></p>
<img src="{{path}}" height="200"> --}}

<a href="/collection/create/">create</a>